go 1.25.0

use (
	.
	./docs
	./driver/gcppubsubevents
	./driver/kafkaevents
	./driver/natsevents
	./driver/redisevents
	./driver/snsevents
	./eventscore
	./eventsfake
	./eventstest
	./examples
	./integration
)
